# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
env/
.venv/

# VS Code
.vscode/

# Python cache
*.sqlite3
db.sqlite3

# Media
media/

# Static Collected
staticfiles/

# Environment
.env

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# PyCharm
.idea/

# Build
build/
dist/